#logologo {
    display: block;
    width: 100%;
    height: 50px;
    background: #6EB9E1;
}
#logoa {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
#logo {
    cursor: pointer;
    width: 195px;
    height: 50px;
}
#logoa p {
    margin-top: -10px;
    padding-top: 15px;
    padding-left: 7px;
}
.lista {
    text-decoration: none;
}
.liter {
    color: #6EB9E1;
}