* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("png/belyj-kirpich.jpg");
}
#header { 
    width: 1360px; 
    height: 80px;
    opacity: 0.8;
    background: #3B2F2F;
}
#headerdiv {
    float: left;
    width: 171px;
    height: 60px;
    cursor: pointer;
    background: black;
    text-decoration: none;
}
.logo {
    width: 200px;
    float: left;
    height: 70px;
    font-size: 2%;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: x-large;
    color: #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.Shoes {
    color: #aa064b;
    
}
.boom {
    color: #429595; 
}
.logo p {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}
.top-menu {
    width: 1000px;
    height: 80px;
    float: left;
}
.top-menu ul li {
    display: block;
    list-style: none;
    float: left;
    text-align: center;
}
.a {
    display: table;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: #fff;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

.magazin {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 14px;
}
.limag {
    float: left;
    width: 200px;
    height: 287px;
    background: #534121;
    border-radius: 4px 4px 4px 4px;
    margin: 10px;
    list-style: none;
}
.podimg {
    width: 194px;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    background: #FFAA00;
    opacity: 0.9;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    color: #aa064b;
    float: left;
}
.name {
    width: 194px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
    background: #FFCD43;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    margin-top: 2px;
    color: #429595; 
    padding-top: 2px;
    float: left;
}
.namem {
    width: 194px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
    background: #FFE600;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    opacity: 0.9px;
    margin-top: 2px;
    color: #FF2F00; 
    padding-top: 2px;
    float: left;
}
.size {
    width: 194px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
    background: #F7F030;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    margin-top: 2px;
    color: #F75644; 
    padding-top: 2px;
    float: left;
}
.color {
    width: 194px;
    height: 18px;
    margin-left: 3px;
    margin-right: 3px;
    background: #F7F030;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    margin-top: 2px;
    color: #F75644; 
    padding-top: 2px;
    float: left;
}
.black {
    width: 10px;
    height: 10px;
    background: black;
    margin-left: 5px;
}
.grey {
    width: 10px;
    height: 10px;
    background: grey;
    margin-left: 5px;
}
.blue {
    width: 10px;
    height: 10px;
    background: blue;
    margin-left: 5px;
}
.red {
    width: 10px;
    height: 10px;
    background: red;
    margin-left: 5px;
}
.white {
    width: 10px;
    height: 10px;
    background: white;
    margin-left: 5px;
}
.khaki {
    width: 10px;
    height: 10px;
    background: #345928;
    margin-left: 5px;
}
.brovn {
    width: 10px;
    height: 10px;
    background: #592D10;
    margin-left: 5px;
}
.bordo {
    width: 10px;
    height: 10px;
    background: #590E13;
    margin-left: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
#img1 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8229.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img2 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8231.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img3 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8234.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img4 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8235.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img5 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8236.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img7 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8241.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img8 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8242.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img11 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8245.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img12 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8246.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img14 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8249.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img15 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8250.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img17 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8253.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img19 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8255.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img20 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8256.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img21 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8257.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img22 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8258.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img25 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8269.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img28 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8272.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img29 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8273.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img30 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8274.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img31 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8275.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img32 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8276.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img35 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8279.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img37 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8281.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img38 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8282.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img39 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8283.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img40 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8284.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img41 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8285.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img43 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8287.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img44 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8288.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img45 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8289.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img46 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8290.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img47 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8291.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img48 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8292.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img49 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8299.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img50 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8300.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img52 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8302.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img53 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8303.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img54 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8304.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img55 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8305.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img55 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8306.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img56 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8307.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img57 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8308.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img58 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8309.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img59 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8310.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img60 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8311.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img61 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8312.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img62 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8313.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img63 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8314.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img64 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8315.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img65 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8316.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img66 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8318.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img67 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8319.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img68 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8320.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img69 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8322.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img70 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8323.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img71 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8324.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img72 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8325.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img73 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8326.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img74 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8327.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img75 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8328.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img76 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8329.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img77 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8330.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img78 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8331.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img79 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8332.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img80 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8333.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img81 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8334.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img82 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8347.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img83 {
    width: 194px;
    height: 170px;
    background-image: url(png/IMG_8348.JPG);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}#img84 {
    width: 194px;
    height: 170px;
    background-image: url(png/photo_2020-04-12_17-59-39.jpg);
    background-size: 194px 170px;
    margin: 3px;
    border-radius: 4px 4px 4px 4px;
}